<div class="container">
  <div class="cadastro">
    <h1>Cadastro do responsável</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas mi non sed ut odio. Non, justo, sed facilisi et. </p>
  </div>
  
  
  <form>
    <div class="form-group">
      <input type="text" id="nome-completo" name="nome-completo" placeholder="Nome Completo">
    </div>
    <div class="form-group">
      <input placeholder="Data Nascimento" type="text" onfocus="(this.type='date')" onblur="if(!this.value) this.type='text'">
    </div>
    <div class="form-group">
      <input type="text" id="nome-aluno" name="nome-aluno" placeholder="Nome do aluno tutorado">
    </div>
    <div class="form-group">
      <input type="text" id="matricula-aluno" name="matricula-aluno" placeholder="Matrícula do aluno tutorado">
    </div>
    <div class="form-group">
      <input type="text" id="cep" name="cep" placeholder="CEP">
    </div>
    <div class="form-group">
      <input type="text" id="endereco" name="endereco" placeholder="Endereço">
    </div>
    <div class="form-group">
      <input type="text" id="cidade" name="cidade" placeholder="Cidade">
    </div>
    <div class="form-group">
      <input type="text" id="bairro" name="bairro" placeholder="Bairro">
    </div>
    <div class="form-group">
      <input type="text" id="telefone" name="telefone" placeholder="Telefone">
    </div>
    <div class="form-group">
      <input type="text" id="instituicao" name="instituicao" placeholder="Instituição de Ensino">
    </div>
    <div class="form-group">
      <input type="email" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" id="senha" name="senha" placeholder="Senha">
    </div>
    <div class="form-group">
      <input type="password" id="confirmar-senha" name="confirmar-senha" placeholder="Confirmar Senha">
    </div>
    <button class="login-button">Já possui uma conta ? Entrar</button>
    <button class="enviar-form-button">Enviar</button>
  </form>

  <footer>
    <p>© 2024 Conexão Respeito. Todos os direitos reservados.</p>
  </footer>
</div>
