<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">#Lei 14.811/2024</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="title-container">
    <!--<h1>#Lei 14.811/2024</h1>-->
  </div>
  <h1>Atividade</h1>
  <div class="materialApoio">
    <div class="links-container1">
    <a class="materialApoioLink">
      Acessar Arquivo</a>
    </div>
  </div>
  <div class ="fimDaPagina">
  <footer>
    <p>© 2024 Conexão Respeito. Todos os direitos reservados.</p>
  </footer>
  </div>
  <form>
    <div class="form-group">
      <label for="atividade-files">Inserir resolução da atividade</label>
      <input class="inputFile" type="file" id="atividade-files" name="atividade-files" accept=".pdf">
    </div>
  </form>
</ion-content>
