<ion-header [translucent]="true">
  <ion-toolbar>
    <!--Botão de voltar-->
    <div class="backButton">
      <app-button btnType="back" (click)="goBack()"></app-button>
    </div>
    <ion-title class="ion-text-center">#Lei 14.811/2024</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Atividade</h1>
  <div class="atividadeApoio">
    <div class="link-container">
    <a class="atividadeApoioLink" href="https://drive.google.com/file/d/1tS8uUnJRB5VsW7BVYm5NH3LUzB64K3UH/view?pli=1">
      Acessar Arquivo</a>
    </div>
  </div>

  <form class ="form-group">
      <label for="atividade-files">Inserir resolução da atividade</label>
      <input class="inputFile" type="file" id="atividade-files" name="atividade-files" accept=".pdf">
      <a class="submitButton">
        Enviar</a>
  </form>

  <div class ="fimDaPagina">
  <footer>
    <p>© 2024 Conexão Respeito. Todos os direitos reservados.</p>
  </footer>
  </div>
</ion-content>
