ion-content {
  --ion-background-color: linear-gradient(to bottom, #9465f8, #a783fc, #baa0fe, #cebdff, #e2d9ff, #ebe6ff, #f5f2ff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff); /* Alterando para fundo branco */
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
}

.page-title h1 {
  font-size: 30px;
  color: #ffffff;
}

.backButton {
  margin-top: 15px;
}

.complaints-container {
  width: 90%;
  height: 65%;
  background-color: rgb(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 30px 5% 40px 5%;
  border: 20px;
  display: inline-block;
  position: relative;
  overflow: scroll;
}

.complaint-box {
  color: black;
  background-color: white;
  border-radius: 10px;
  margin: 20px 15px 20px 15px;
  width: 91%;
  height: 80px;
  position: relative;
}

.complaint-box p {
  margin: 25px 5px auto;
  font-size: 15px;
  font-weight: 600;
  left: 2px;
  padding: 5px;
  position: absolute;
}

.button-container button {
  background-color: #9364F6;
  border: 2px solid #9364F6;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 25px;
  margin-right: 20px;
  padding: 6px;
  position: absolute;
  right: 10px;
  width: 70px;
}
