<ion-content [fullscreen]="true">
    <!--Botão de voltar-->
    <div class="backButton">
      <app-button btnType="back" (click)="goBack()"></app-button>
    </div>

  <div class="page-title">
    <h1>Denúncias - {{educationalInstitution}}</h1>
  </div>
  <div class="complaints-container">

    <div *ngFor="let complaint of complaintsData" class="complaint-box">
      <p>{{ complaint.nameAggressor }}</p>

        <div class="button-container">
        <!--Botão para verificar a denúncia-->
          <button id ="complaintButton" (click)="mostrarDenuncia(complaint)">Verificar</button>
        </div>
    </div>

  </div>

</ion-content>
