<div class="container">
  <div class="logo">
    <img src="../../assets/images/LogoEquipe_PNG_Purple.png">
    <h1>Conexão Respeito</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas mi non sed ut odio. Non, justo, sed facilisi et. </p>
  </div>
  <form>
    <div class="form-group">
      <input type="text" id="username" name="username" placeholder="Usuário, e-mail ou número de telefone">
    </div>
    <div class="form-group">
      <input type="password" id="password" name="password" placeholder="Digite sua senha">
      <a href="#" class="forgot-password">Esqueceu a senha?</a>
    </div>
    <button class="login-button">Entrar</button>
    <button class="register-button"  (click)="goToCadastro()">Cadastrar</button>
  </form>
  <footer>
    <p>© 2024 Conexão Respeito. Todos os direitos reservados.</p>
  </footer>
</div>
