<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home" class="tab-bar-button">
      <ion-icon aria-hidden="true" name="home" class="tab-bar-icon"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="materiais" href="/tabs/materiais" class="tab-bar-button">
      <ion-icon aria-hidden="true" name="library" class="tab-bar-icon"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atividades" href="/tabs/atividades" class="tab-bar-button">
      <ion-icon aria-hidden="true" name="today" class="tab-bar-icon"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pessoas" href="/tabs/pessoas" class="tab-bar-button">
      <ion-icon aria-hidden="true" name="person" class="tab-bar-icon"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
