<ion-content [fullscreen]="true">
<div class="image-container">
  <h1>futuro video</h1>
  <img src="caminho/para/sua/imagem.jpg" alt="Descrição da imagem">
  
</div>
<div clas="resumo-video">
  <h1>RESUMO DO VIDEO</h1>
  <p>Os Carros da Disney encantam gerações com suas histórias emocionantes.
     Relâmpago McQueen, o carro de corrida vermelho,
      é o protagonista que aprende lições valiosas de amizade e humildade.
       A cidade de Radiator Springs e seus habitantes peculiares,
      como Mate, o guincho, adicionam charme e humor.
     Juntos, eles vivem aventuras inesquecíveis nas pistas e além.</p>
</div>
<div class="materialApoio">
  <h1 class="materialApoiTitulo">Material de apoio</h1>
  <div class="links-container1">
  <a class="materialApoioLink" href="https://www.youtube.com/watch?v=xvFZjo5PgG0">Slide 1</a>
  </div>
  <div class="links-container2">
  <a class="materialApoioLink" href="https://www.youtube.com/watch?v=mg8sk2B45AA">Slide 2</a>
  </div>
</div>
<footer>
  <p>© 2024 Conexão Respeito. Todos os direitos reservados.</p>
</footer>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">conteudo-material</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
