<body>
  <div class="container">
    <div class="content">
      <img src="../../assets/images/LogoEquipe_PNG_Purple.png">
      <h1>Conexão Respeito</h1>
      <blockquote>
        "O sonho da igualdade só cresce no terreno do respeito pelas diferenças."
      </blockquote>
      <cite>- Augusto Cury</cite>
      <hr>
      <form method="POST" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-inputs">
        <div class="form-group">
          <input formControlName="email" type="text" id="username" name="username" placeholder="E-mail">
          <input formControlName="password" type="password" id="password" name="password" placeholder="Digite sua senha">
          <p class="login-alert">E-mail ou senha inválidos.</p>
          <a href="#" class="forgot-password">Esqueceu a senha?</a>
        </div>
        <!--Estilos em button.component.scss-->
        <div class="button-container">
        <app-button btnType="primary" btnText="Entrar"></app-button>
        <app-button btnType="primary" btnText="Cadastrar" (click)="goToCadastro(); $event.preventDefault()"></app-button>
        </div>
      </form>
    </div>
  </div>

  <dialog>Login concluido</dialog>

</body>

<footer>
  <p>© 2024 Conexão Respeito. Todos os direitos reservados.</p>
</footer>

