.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 441px;
    height: 915px;
    margin: 0 auto;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 73px;
}

.logo img {
    max-width: 200px;
    max-height: 140px;
}

.logo h1 {
    font-size: 32px;
    margin-bottom: 23px;
}

.logo p {
    text-align: center;
    margin-right: 60px;
    margin-left: 74px;
    margin-bottom: 57px;
}

h1 {
    margin-top: 41px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 339px;
    height: 59px;
    padding: 10px;
    margin-left: 53px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f3f3f3; 
}

.forgot-password {
    color: #2D2626;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 19px;
    margin-top: 13px;
    margin-left: 245px;
}

.login-button,
.register-button {
    font-size: 22px;
    font-weight: bold;
    width: 392px;
    height: 59px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 22px;
}

.login-button {
    background-color: #9465F8;
    color: #fff;
    margin-top: 40px;
}

.register-button {
    background-color: #9465F8;
    color: #fff;
    margin-top: 10px;
}

footer {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    width: 100%;    
    margin-top: auto;
    text-align: center;
    font-size: 12px;
    background-color: #f4effd;
    padding: 10px 0;
}

@media screen and (max-width: 441px) {
    h1 {
        margin-top: 25px;
        font-size: 20px;
    }

    footer {
        font-size: 12px;
    }
}
