.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-left: 85px;
  margin-right: 20px;
  margin-bottom: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    overflow-y: scroll;
}

.cadastro {
    margin-top: 600px;
    text-align: center;
    margin-bottom: 20px;
}

.cadastro h1 {
    font-size: 32px;
    margin-bottom: 23px;
    font-weight: bold;
    top: 50px;
}

.cadastro p {
    text-align: center;
    margin-right: 60px;
    margin-left: 74px;
    margin-bottom: 57px;
}

.form-inputs {
  text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

input[type="date"]::before {
    content: "Data de Nascimento";
    color: #999;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"] {
    width: 75%;
    max-width: 380px;
    height: 59px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #E3E3E3;
}

@media screen and (max-width: 375px) {
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="password"] {
      //width: 300px;
      height: 50px;
  }
}

@media screen and (max-width: 441px) {
    h1 {
        margin-top: 25px;
        font-size: 20px;
    }

    footer {
        font-size: 12px;
    }
}
