:host {
  button {
    font-size: 22px;
    font-weight: bold;
    width: 392px;
    max-width: 392px;
    height: 59px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #9465F8;
    color: #fff;
  }
}

button[btnType="primary"] {
  font-size: 22px;
  font-weight: bold;
  width: 85%;
  max-width: 392px;
  height: 59px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #9465F8;
  color: #fff;
  margin: 3% 10% 3% 10%;
}

button[btnType="secondary"] {
  font-size: 18px;
  font-weight: bold;
  width: 340px;
  max-width: 360px;
  height: 55px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #9465F8;
  color: #fff;
  margin: 2% auto; //10% 5% 10%;
}

button[btnType="back"] {
  font-size: 25px;
  width: 50px;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  background: transparent;
  color: rgba(0, 0, 0, 0.5);
  margin: auto auto auto 2%;
}

button[btnType="complaint"] {
  font-size: 35px;
  color: #0022ff;
  width: 30px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.397);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  padding-top: 2px;
}

button[btnType="complaint"] ion-icon {
  font-size: 42px;
}






