.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 441px;
    height: 915px;
    margin: 0 auto;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 73px;
}

.logo img {
    max-width: 200px;
    max-height: 140px;
}

.logo h1 {
    font-size: 32px;
    margin-bottom: 23px;
    font-weight: bold;

}

.logo p {
    text-align: center;
    margin-right: 60px;
    margin-left: 74px;
    margin-bottom: 57px;
}

.opcao {
    margin-top: 90px;
}


.form-group {
    text-align: center;
    margin-top: -60px;
    margin-bottom: 130px;
}

select {
    width: 280px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ok-button {
    font-size: 22px;
    font-weight: bold;
    width: 392px;
    height: 59px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    background-color: #9465F8;
    color: #fff;
}

footer {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    width: 100%;    
    margin-top: auto;
    text-align: center;
    font-size: 12px;
    background-color: #f4effd;
    padding: 10px 0;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width: 441px) {
    h1 {
        margin-top: 25px;
        font-size: 20px;
    }

    footer {
        font-size: 12px;
    }
}

