<ion-content [fullscreen]="true">

  <h1>Alunos da Instituição</h1>
  <h2>{{educationalInstitution}}</h2>

  <div class="students-container">

    <div *ngFor="let student of studentsData" class="student-box">
      <div class="student-name">
        <h1>{{ student }}</h1>
        <div class="start-assessment">
          <!--Botão que inicia a avaliação-->
          <button *ngIf="showAvaliarButton" id ="avaliarButton" (click)="onClickAvaliar('dateInput','dateSubmit')">Avaliar</button>

          <!--Botão com display default setado para none. Aparece ao definir uma data de avaliação-->
          <button id ="concluirButton" (click)="onClickConcluir()">Concluir</button>

          <!--Formulário para inserção da data de avaliação-->
          <form (submit)="iniciarAvaliacao($event, 'assessmentDate')">
            <p id="assessmentDate">Em avaliação até {{ submittedDate }}</p>
            <input type="date" name="dateInput" pattern="\d{2}\/\d{2}\/\d{4}" title="Data no formato dd/mm/yyyy" id="dateInput" required/>
            <input type="submit" name="dateSubmit" value="OK" id="dateSubmit">
          </form>
        </div>
      </div>
    </div>
    <div class="student-box">
      <div class="student-name">
        <h1>Nome do Aluno</h1>
      </div>
    </div>

  </div>

  <footer>
    <p>© 2024 Conexão Respeito. Todos os direitos reservados.</p>
  </footer>

</ion-content>
