<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-title>Tab 4</ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Alunos da Instituição</h1>
  <h2>Nome da Instituição</h2>

  <div class="students-container">

    <div class="student-box">
      <div class="student-name">
        <h1>Nome do Aluno</h1>
        <div class="start-assessment">
          <button (click)="onClick('dateInput','dateSubmit')">Avaliar</button>
          <form onsubmit="return iniciarAvaliacao('assessmentDate')">
            <p id="assessmentDate">Em avaliação até 20/06/2024</p>
            <input type="date" name="dateInput" pattern="\d{2}\/\d{2}\/\d{4}" title="Data no formato dd/mm/yyyy" id="dateInput" required/>
            <input type="submit" name="dateSubmit" value="OK" id="dateSubmit">
          </form>
          <!--<input id="dateInput" type="text" name="dateInput" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" title="Data no formato dd/mm/yyyy"/>-->
        </div>
      </div>
    </div>
    <div class="student-box">
      <div class="student-name">
        <h1>Nome do Aluno</h1>
      </div>
    </div>
    <div class="student-box">
      <div class="student-name">
        <h1>Nome do Aluno</h1>
      </div>
    </div>
    <div class="student-box"></div>
    <div class="student-box"></div>
    <div class="student-box"></div>
    <div class="student-box"></div>
    <div class="student-box"></div>

  </div>
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>-->
</ion-content>
