<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true">

  <!--Botão de adicionar materiais, visível apenas para professores.-->

  <div class="add-container">
    <button (click)="onClick('/materiais/adicionarmaterial')">
      <span class="button_text">Adicionar material</span>
      <span class="button_icon"><ion-icon name="duplicate-outline"></ion-icon></span>
    </button>
  </div>

  <h1>Materiais</h1>

  <div class="materials-container">

    <a href="materiais/conteudomaterial" class="material-box">
      <img src="../../assets/images/photorealistic-book-lawyer.jpg" alt="content-related-image">
      <h1 class="material-title">Consequências legais</h1>
    </a>

    <a href="materiais/conteudomaterial" class="material-box">
      <img src="../../assets/images/assortment-with-feelings.jpg" alt="content-related-image">
      <h1 class="material-title">Impactos psicológicos</h1>
    </a>

  </div>

  <footer>
    <p>© 2024 Conexão Respeito. Todos os direitos reservados.</p>
  </footer>

</ion-content>
