<ion-content>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Botão de voltar-->
  <div class="backButton">
    <app-button btnType="back" (click)="goBack()"></app-button>
  </div>

  <form method="POST" [formGroup]="complaintForm" (ngSubmit)="onSubmit()" class="form-denuncia" action="">
    <div class="inputs-div">
      <div class="input-field">
        <label id="instituicao_" for="instituicao">Instituição</label>
        <input formControlName="educationalInstitution" id="instituicao" type="text" placeholder="Digite Aqui...">
      </div>
      <div class="input-field">
        <label id="matricula_" for="matricula">Matrícula</label>
        <input formControlName="nameAggressor" id="matricula" type="text" placeholder="Digite Aqui...">
      </div>
      <div class="input-field">
        <label id="nome-agressor" for="nomeagressor">Nome do agressor</label>
        <input id="nomeagressor" type="text" placeholder="Digite Aqui...">
      </div>
      <div class="input-field">
        <label id="local-violencia" for="localviolencia">Rede na qual ocorreu a violência:</label>
        <input formControlName="placeViolationOccurred" id="localviolencia" type="text" placeholder="Digite Aqui...">
      </div>
      <div class="input-field">
        <label id="motivo-denuncia" for="motivodenuncia">Motivo da denúncia</label>
        <input formControlName="complaintReason" id="motivodenuncia" class="motivodenuncia" type="text" placeholder="Digite Aqui...">
      </div>
    </div>

    <!--Estilos em button.component.scss-->

    <div class="button-container">
      <app-button btnType="secondary" btnText="Denunciar" type="submit"></app-button>
    </div>

  </form>

</ion-content>


