<ion-content>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Botão de voltar-->
  <div class="backButton">
    <app-button btnType="back" (click)="goBack()"></app-button>
  </div>

  <form class="form-denuncia" action="">
    <div class="inputs-div">
      <div class="input-field">
        <label id="instituicao" for="instituição">Instituição</label>
        <input type="text" placeholder="Digite Aqui...">
      </div>
      <div class="input-field">
        <label id="matricula" for="matricula">Matrícula</label>
        <input type="text" placeholder="Digite Aqui...">
      </div>
      <div class="input-field">
        <label id="nomeagressor" for="NomeAgressor">Nome do agressor</label>
        <input type="text" placeholder="Digite Aqui...">
      </div>
      <div class="input-field">
        <label id="localviolencia" for="ondeOcorreuViolencia">Onde ocorreu a violência?</label>
        <input type="text" placeholder="Digite Aqui...">
      </div>
      <div class="input-field">
        <label id="motivodenuncia"for="MotivoDenuncia">Motivo da denúncia</label>
        <input class="motivodenuncia" type="text" placeholder="Digite Aqui...">
      </div>
    </div>
  </form>

<!--Estilos em button.component.scss-->

<div class="button-container">
  <app-button btnType="secondary" btnText="Denunciar"></app-button>
</div>

</ion-content>


