<ion-content>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <button type="button" class = "botaoVoltar">
    v
  </button>


<form class="form-denuncia" action="">
  <div class="input-field">
    <label for="instituição">Instituição</label>
    <input class="matricula" type="text" placeholder="Digite Aqui...">
</div>
<div class="input-field">
  <label for="matricula">Matrícula</label>
  <input class="matricula" type="text" placeholder="Digite Aqui...">
</div>
<div class="input-field">
  <label for="NomeAgressor">Nome do agressor</label>
  <input class="matricula" type="text" placeholder="Digite Aqui...">
</div>
<div class="input-field">
  <label for="ondeOcorreuViolencia">Onde ocorreu a violência?</label>
  <input class="matricula" type="text" placeholder="Digite Aqui...">
</div>
<div class="input-field">
  <label for="MotivoDenuncia">Motivo da denúncia</label>
  <input class="matricula" type="text" placeholder="Digite Aqui...">
</div>
</form>

<!--Estilos em button.component.scss-->

<div class="button-container">
  <app-button btnType="secondary" btnText="Denunciar"></app-button>
</div>


