<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true" class="tab1">

  <div class="logout-button">
    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    <app-button btnType="logout" (click)="goToLogin()"></app-button>
  </div>

  <div *ngIf="showCheckComplaints" id="check-complaints" class="teacher-button-container">
    <label>Denúncias</label>

    <!--Botão de visualizar denúncias, visível apenas para professores.-->
    <button (click)="goToConteudoDenuncia()">
      <ion-icon name="document-text" class="check-complaint-icon"></ion-icon>
      <ion-icon name="document-text" class="check-complaint-icon-shadow"></ion-icon>
    </button>
  </div>
  <div class="button-container">
    <label>Reportar</label>
    <app-button btnType = "complaint" (click)="goToDenuncia()"></app-button>
  </div>

    <div class="user-profile">
      <div class="div-text">
        <h1>Bem vindo</h1>
        <h2>{{ usuario }}</h2>
      </div>
      <img src="assets\images\user-profile-4255.png" alt="profile-image">
    </div>
    <div class="simple-stroke">
      <hr>
    </div>

  <footer>
    <p>© 2024 Conexão Respeito. Todos os direitos reservados.</p>
  </footer>

</ion-content>
