//pagina
ion-content{
  --ion-background-color: linear-gradient(to bottom, #9465f8, #a783fc, #baa0fe, #cebdff, #e2d9ff, #ebe6ff, #f5f2ff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}
//onde vai ficar localizado o video
.video-container {

  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Mantém a proporção de aspecto do vídeo 16:9 */
  border: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  margin-top: 30px;

}
.video-container iframe {

   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



//texto localizado abaixo do video
.resumo-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
h1{
  color: black;
}
p{
  color:black
}


//parte material de apoio
.materialApoio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Cor de fundo branca */
  color: black; /* Cor do texto preta */
  padding: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  width: 80%; /* Largura da div */
  margin: auto; /* Centraliza a div no meio da página */
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1); /* Sombra ao redor da div */
}

.materialApoio h1 {
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  border-bottom: 2px solid black; /* Linha abaixo do título */
  padding-bottom: 5px; /* Espaçamento abaixo da linha */
}

.materialApoio .links-container1,
.materialApoio .links-container2 {
  background-color: rgb(235, 229, 229);
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Espaçamento entre os itens */
  width: 200px;
  height: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

.materialApoio .links-container1::before,
.materialApoio .links-container2::before {
  content: "📁"; /* Ícone de pasta */
  text-align: right;
  display: inline-block;
  margin-right: 50px; /* Espaçamento à direita do ícone */
}
.materialApoioLink{
  text-decoration: none; /* Remove o sublinhado */
  color: black; /* Cor inicial do link */
  transition: color 0.3s ease; /* Transição suave da cor */

}

.materialApoioLink:hover {
  color: red; /* Cor do link quando o mouse está sobre ele */
}
//footer da pagina
.fimDaPagina{
  background-color:#F4EFFD ;
  height: 3%;
}
footer p{
  text-align: center;
}
