<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Adicionar Atividade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <div class="form-group">
      <label for="atividade-title">Título da atividade</label>
      <input class="inputFile" type="text" id="atividade-title" name="atividade-title" placeholder="Título da atividade">
      <label for="atividade-files">Atividade</label>
      <input class="inputFile" type="file" id="atividade-files" name="atividade-files" accept=".pdf">
    </div>
  </form>
</ion-content>
