<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-title>Tab 4</ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Alunos da Instituição</h1>
  <h2>Nome da Instituição</h2>

  <div class="students-container">

    <div class="student-box">
      <div class="student-name">
        <h1>Nome do Aluno</h1>
      </div>
    </div>
    <div class="student-box">
      <div class="student-name">
        <h1>Nome do Aluno</h1>
      </div>
    </div>
    <div class="student-box">
      <div class="student-name">
        <h1>Nome do Aluno</h1>
      </div>
    </div>
    <div class="student-box"></div>
    <div class="student-box"></div>
    <div class="student-box"></div>
    <div class="student-box"></div>
    <div class="student-box"></div>

  </div>
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>-->
</ion-content>
