<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="atividades-content" [fullscreen]="true">

  <!--<div class="status-container">
    <p>
      Status do aluno: <span id="red-text">Em avaliação </span>Até 10/06/2024.
    </p>
  </div>-->

   <!--Botão de adicionar atividades, visível apenas para professores.-->

   <div class="add-container">
    <button (click)="onClick('/atividades/adicionaratividade')">
      <span class="button_text">{{containerMessage}}</span>
      <span *ngIf="showIcon" class="button_icon"><ion-icon name="duplicate-outline"></ion-icon></span>
    </button>
  </div>

  <h1 class="page-title">Atividades</h1>

  <div class="simple-stroke">
    <hr>
  </div>

  <div class="activities-container">

    <div class="activity-box">
      <div class="activity-title">
        <h1>#Lei 14.811/2024</h1>
      </div>
      <div class="activity-description">
        <p>Descrição da atividade.</p>
      </div>
      <!--<div class="activity-date">
        <p>Até 05/06/2024</p>
      </div>-->
      <div class="activity-status">
        <p>{{ activity.status }}</p>
      </div>
      <div class="start-activity">
        <button (click)="onClick('/atividades/conteudoatividade')">Iniciar</button>
      </div>
      <span *ngIf="showIcon" class="delete-icon"><ion-icon name="trash-outline"></ion-icon></span>
    </div>
  </div>

  <footer>
    <p>© 2024 Conexão Respeito. Todos os direitos reservados.</p>
  </footer>

</ion-content>
